.header-color {
    background-color: #013063 !important;
}
.footer-color {
    background-color: #2aacb1 !important;
}
.color-main{
    color: #013063;
}
.btn-main {
    background-color: #013063;
    color: white;
}
.btn-main:hover {
    background-color: #0970df;
    color: white;
}

.header-text-color{
    color:gold;
}

.card-border{
    border-color: #75ad5b;    
    border-width: 5px;
}